#java specific
*.class

#netbeans ignore personal stuff 
nbproject/private/


## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

## Eclipse
.project
.settings/
bin/

## CookieJar
cookiejar.xml
cookie.jar